/*GENERAL*/
	body {
		background-color: #223322;
		box-sizing:border-box;
		color:#ddd;
	}
	main {
		min-height: 700px;
		width:90%;
		margin:10px auto;
	}
	header h1 {
		margin:0;
		padding:10px;
	}
	button {
		height:40px;
		width: 100px;
		margin:20px;
		color: #222;
	}
	select, option {
		background-color: rgba(20,20,20,.8);
		
	}

/*HEADER*/

	.nav-title {
	  padding-right: 0;
	  padding-left: 0;
	  background: linear-gradient(transparent, #910000),
	              #000 url('../img/magic.png') no-repeat center;
	  background-size: cover;
	  margin:0 auto 0;
	  height: 200px;
	}
	.nav-title h1 {
	  margin-top: 20px;
	  margin-bottom: 0;
	  -webkit-font-smoothing: antialiased;
	  text-shadow:  2px 8px 8px rgba(0, 0, 0, 0.6);
	  color: #ffffff;
	  font-size: 48px;  
	  font-family: 'Shift', sans-serif;
	  font-weight: bold;
	}
	.nav-title p {
	  margin-top: 0;
	  text-shadow:  1px 4px 4px rgba(0, 0, 0, 0.6);
	  font-size: 20px;
	  color: #ffffff;
	  margin-left: 10px;
	}

	header, nav {
		padding:0;
		margin:0;
	}
	nav {
		list-style: none;
		display: flex;
		background-color: #333;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	nav a {
		text-decoration: none;
		color:#ccc;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
	}
	nav ul {
		display:flex;
	}
	nav li {
		display:block;
		font-size: 24px;
		padding:6px;
		flex: 0 1 auto;
		background: linear-gradient(transparent, #111);
		border-left:1px solid #444;
		border-right: 1px solid #111;
		border-bottom:1px solid #000;
		border-top:1px solid #555;
	}
	nav li.blink {
		background-color: green;
		transition: 1s;
	}
	li.spacer {
		flex:1 10 auto;
	}
	li.right {
		align-self: flex-end;
	}

/*FOOTER*/
	footer {
		height:60px; 
		padding:0;
		margin:0;
		background-color: #222;
		color: #ddd;
		clear:both;
	}
	footer p {
		padding:18px;
		margin:4px auto;
		text-align: center;
		text-shadow:0 1px 1px #fff;
	}


#output {
	overflow: auto;
	min-height: 443px;
}
ul.cards {
	margin:0;
	padding:0;
}
.cards li {
	list-style:none;
	display:block;
	float:left;
	margin:10px;
	width: 225px;
}
.cards img {
	border-radius: 11px;
	height:311px;
}
.cards button, .addCard, .removeCard { 
	border: 0px;
	width:40%;
	margin:5px 5%;
	padding:0;
}
.addCard {
	background-color: #464;
}
.removeCard {
	background-color: #633;
}



h1.manaTitle {
	width:100%;
	text-align: center;
	clear:both;

}

.cmc-sort {
  width: 250px;
  float: left;
  clear:right;
}
.cmc-sort li {
	height:30px;
}
.cmc-sort li:last-child {
	height: 311px;
}
