/*GENERAL*/
  :root {
  	box-sizing:border-box;
  }
	body {
		background-color: #223322;
		box-sizing:border-box;
		color:#ddd;
	}
	main {
		min-height: 700px;
		width:90%;
		margin:10px auto;
	}
	header h1 {
		margin:0;
		padding:10px;
	}
	input.form-control, select.form-control {
		background-color: #222;
		border-color:#333;
		color:#fff;
	}
	.nav-title {
	  padding: 30px;
	  background: linear-gradient(transparent, #910000),
	              #000 url('../img/magic.png') no-repeat center;
	  background-size: cover;
	  margin:0 auto 0;
	  height: 200px;
	}
	.nav-title h1 {
	  margin-top: 20px;
	  margin-bottom: 0;
	  -webkit-font-smoothing: antialiased;
	  text-shadow:  2px 8px 8px rgba(0, 0, 0, 0.6);
	  color: #e0c453;
	  font-size: 48px;  
	  font-family: 'Shift', sans-serif;
	  font-weight: bold;
	}
	.nav-title p {
	  margin-top: 0;
	  text-shadow:  1px 4px 4px rgba(0, 0, 0, 0.6);
	  font-size: 20px;
	  color: #e0c453;
	  margin-left: 10px;
	}
	footer {
		height:60px; 
		padding:0;
		margin:0;
		background-color: #222;
		color: #ddd;
		clear:both;
	}
	footer p {
		padding:18px;
		margin:4px auto;
		text-align: center;
		text-shadow:0 1px 1px #fff;
	}
	ul {
		padding:0;
		width:90%;
	}

/*CARD SEARCH*/
	#magic {
		height:300px;
		width:400px;
		overflow-y: scroll;
		margin:20px;
		float:left;
	}
	#output {
		overflow: auto;
		min-height: 443px;
	}
	ul.cards {
		margin:0;
		padding:0;
	}
	.cards li {
		list-style:none;
		display:block;
		float:left;
		margin:10px;
		width: 225px;
	}
	.cards img {
		border-radius: 11px;
		height:311px;
	}

/*DECK VIEW*/
	#deck-manager {
		max-width:400px;
		margin:auto;
	}
	h1.manaTitle {
		width:100%;
		text-align: center;
		clear:both;
	}

	.cmc-sort {
	  width: 250px;
	  float: left;
	  clear:right;
	}
	.cmc-sort li {
		height:30px;
	}
	.cmc-sort li:last-child {
		height: 311px;
	}


/*DECK BUILDER*/

	.spinner-container {
		height:100px;
		width:100px;
		padding:0;
		margin:20px auto;
	}
	paper-spinner {
		height:100px;
		width:100px;
		margin:0;
		padding:0;
	}
	.setID {
		background-color:black;
		padding:4px;
	}
	.card {
		list-style: none;
		cursor:pointer;
		display:block;
	}
	.set {
		width:400px;
	}
	#deckbuilder form {
		max-width:400px;
		margin: 0 auto;
	}
	#cardImage {
		background-color: #3b3b3b;
		border-radius: 5px;
		float:right;
		width:250px;
		height:380px;
		padding:14px;
	}
	#cardImage img {
		border-radius: 10px;
	}
	.btn {
		min-width: 80px;
		margin:10px;
	}