# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
bower_components
api/node_modules

# notes
notes.txt

# windows thumbnails
public/img/Thumbs.db
