<h1>{{set.name}}</h1>
<div id="search">
	<input type="checkbox" id="Green">
	<label for="Green">Green</label>
	<input type="checkbox" id="Red">
	<label for="Red">Red</label>
	<input type="checkbox" id="Black">
	<label for="Black">Black</label>
	<input type="checkbox" id="Blue">
	<label for="Blue">Blue</label>
	<input type="checkbox" id="White">
	<label for="White">White</label>
	<input type="checkbox" id="multicolored">
	<label for="multicolored">Multicolored</label>
</div>
<ul class="cards">
	<li data-ng-repeat="card in set.cards" class="card" data-mvid="{{card.multiverseid}}"><img data-ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.multiverseid}}&amp;type=card" alt="{{card.name}}" class="cardImage" data-mvid="{{card.multiverseid}}"></li>
</ul>
