

<div class="well text-center row" ng-switch="step">

	<div ng-switch-when="1">
		<h3>Decks</h1>
		<div class="col-sm-6" ng-repeat="deck in decklist">
			<button class="btn btn-default btn-lg btn-block" ng-click="selectDeck(deck)">
				<span class="label label-success pull-left" style="position:relative; top:2px">{{deck.type}}</span>
				<span>{{deck.name}}</span>
				<span class="badge pull-right" style="position:relative; top:2px">{{deck.cards.length}}</span>
			</button>
		</div>
	</div>

	<div ng-switch-when="2">
			<h3>{{deck.name}}</h3>
			<button class="btn btn-default" ng-click="draw(7)">Draw!</button>
			<button class="btn btn-success" ng-click="showDeck()">Show Deck</button>
			<button class="btn btn-primary" ng-click="showCurve()">Sort Deck</button>
			<button class="btn btn-info" ng-click="">Analysis</button>
	</div>

</div>


<div class="spinner-container" ng-show="!loaded">
	<paper-spinner active></paper-spinner>
</div>
<div id="output"></div>


			