
<!-- Set up multi-stage options: create deck or load deck, select sets/auto filter of some sort -->
<div id="deckbuilder" ng-switch="step">
	<div ng-switch-when="0">
		<div class="spinner-container">
			<paper-spinner active></paper-spinner>
		</div>
	</div>

	<div ng-switch-when="1" class=" container well">
		<form action="" ng-init="loadDeck=true">

			<!-- Load deck view-->
			<div ng-show="loadDeck">
				<div class="form-group">
					<h2>Load Deck</h2>
					<label for="deck">Deck Name</label>
					<select name="deck" ng-model="deckIndex" class="form-control">
						<option value='' disabled selected style='display:none;'>Choose a Deck</option>
						<option value="{{deck.name}}" ng-repeat="deck in decklist">{{deck.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<input type="button" class="btn btn-primary" ng-click="selectDeck(deckIndex)" value="Load Deck" class="form-control" ng-disabled="!deckIndex">
					<input type="button" class="btn btn-info" ng-click="loadDeck=false" value="Create New Deck">
				</div>
			</div>
				
			<!-- New deck view-->
			<div ng-hide="loadDeck">
				<div class="form-group">
					<h2>New Deck</h2>
					<label for="deckName">Deck Name</label>
					<input name="deckName" ng-model="newDeck.name" class="form-control">
				</div>

				<div class="form-group">
					<label for="deckType">Deck Type</label>
					<select name="deckType" id="deckType" ng-model="newDeck.type" class="form-control">
						<option value="commander">Commander</option>
						<option value="standard">Standard</option>
						<option value="modern">Modern</option>
					</select>
					<label for="commanderName" ng-show="newDeck.type==='commander'">Commander</label>
					<input name="commanderName "type="text" ng-model="commanderName" ng-show="newDeck.type==='commander'" class="form-control">
				</div>
				<div class="form-group">
					<input type="button" class="btn btn-primary" ng-click="makeDeck()" value="New Deck" class="form-control"></input>
					<input type="button" class="btn btn-info" ng-click="loadDeck=true" value="Load Deck">
				</div>
			</div>


		</form>
		<div class="col-lg-6 debug" ng-show="debug">
			<pre>{{ newDeck | json }}</pre>
			<pre>{{ deckIndex | json}}</pre>
		</div>
	</div>

	<div ng-switch-when="2">

		<form action="" class="col-lg-6">
			<div class="form-group">
				<h2>Card Search:</h2>
				<label for="cardSearch">Name</label>
				<input type="text" ng-model="search" name="cardSearch" class="form-control" ng-model-options="{debounce: 100}">
				<label for="setSearch">Set</label>
				<select name="setSearch" ng-model="setSearch" ng-change="filterBySet(setSearch)" class="form-control">
					<option value='' disabled selected style='display:none;'>Filter by Set</option>
					<option ng-repeat="set in magic" value="{{set.name}}">{{set.name}}</option>
				</select>
				<input type="button" class="btn btn-default" ng-click="saveDeck()" value="Save Deck"></input>
			</div>
			<h4>Decklist</h4>
			<ul class="decklist">
				<li class="card" ng-repeat="card in currentDeck.cards" ng-click="changeCard(card)">{{card.quantity}} x {{ card.name }}</li>
			</ul>
		</form>

		<div id="cardImage" ng-show="currentCard" class="text-center">
			<img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{currentCard.multiverseid}}&amp;type=card" alt="">
			<input type="button" class="btn btn-success addCard" ng-click="addCard(currentCard.multiverseid)" value="Add">
			<input type="button" class="btn btn-danger removeCard" ng-click="removeCard(currentCard.multiverseid)" value="Remove">
		</div>
		
		<section id="magic">
			<div ng-repeat="set in magic | orderBy: '-releaseDate' | filter:setSearch | limitTo:5 " ng-show="search.length > 2">
				<ul class="set" ng-show="!setFilter || setFilter === set.name">
					<li class="card" ng-repeat="card in set.cards | filter:search | limitTo:10" ng-click="changeCard(card)"><span class="setID">{{set.code}}</span> {{card.name}}: {{card.manaCost}}</li>
				</ul>
			</div>
		</section>

		<div class="col-lg-6 debug" ng-show="debug">
			<pre>{{ newDeck | json }}</pre>
			<pre>{{ currentDeck | json }}</pre>
		</div>

  </div>


</div>