footer.footer {
  background-color: #161616;
  font-size:0.75em;
  text-align: center;
  clear: both;
  padding: 18px 0;
  .social-icon {    
  	height:30px;
    width:30px;
    margin:0 5px;
    border-radius:100%; }
  p {
    color: #888686;
    font-size: 14px;
    padding-top: 6px;
    margin-bottom: 0px; }
}