  <footer class="footer">
    <h5>Angular Fullstack v2.1.1 | Code and design @lawlietblack </h5>
    <a href="https://github.com/LawlietBlack"><img src="assets/images/icons/git.png" alt="Github Logo" class="social-icon" /></a>
    <a href="https://twitter.com/LawlietBlack"><img src="assets/images/icons/twitter-wrap.png" alt="Twitter Logo" class="social-icon" /></a>
    <a href="http://www.codecademy.com/lawlietblack"><img src="assets/images/icons/codecademy.png" alt="Codecademy Logo" class="social-icon" /></a>
    <a href="https://teamtreehouse.com/kennethblack"><img src="assets/images/icons/treehouse.png" alt="Treehouse Logo" class="social-icon" /></a>
    <a href="https://www.linkedin.com/in/kennethrblack"><img src="assets/images/icons/linkedin.png" alt="LinkedIn Logo" class="social-icon" /></a>
    <a href="https://www.facebook.com/kenny.black.39750"><img src="assets/images/icons/facebook-wrap.png" alt="Facebook Logo" class="social-icon" /></a>
    <a href="http://freecodecamp.com/lawlietblack"><img src="assets/images/icons/fcc.png" alt="FreeCodeCamp Logo" class="social-icon" /></a>
    <p class="notice">  Images &copy; Wizards of the Coast</p>
  </footer>