.updates, .decks-sidebar {
  width: 40%;
  margin: 20px 5%;
  float: left;
  max-height: 500px;
  overflow: auto;
}
#results, #deck {
  max-height: 320px;
  overflow: auto;
  .list-group-item {
    background-color: #111;
    color:#fff;
    border-color:#262626;
    padding:5px 15px;
    cursor:pointer;
  }
}
#cardImage {
  background-color: #3b3b3b;
  border-radius: 5px;
  float:right;
  width:250px;
  height:380px;
  padding:14px;
  img {
    border-radius: 10px;
  }
}




.deck.well {
  cursor: pointer;
  background: linear-gradient(#333, #111);
  border-color: #111; 
  margin-bottom: 0;
  .deck-title {
    display: inline; 
  }
  .title-text {
    padding-left: 20px; 
  }
  .badge {
    font-size: 75%; 
  }
}
.list-group-item {
  background-color: #111;
  color:#fff;
  border-color:#262626;
  padding:5px 15px;
  cursor:pointer;
}