<div class="page-wrap"><navbar></navbar>
<main class="fluid-container ">
  <div class="row deck-box">
  
    <div class="current-deck col-md-6 col-sm-6">
      <label for="deck-bar" ng-show="currentDeck">Current Deck</label>
      <div class="well deck" ng-click="selectDeck(deck)" name="deck-bar" ng-show="currentDeck">
        <h4 class="deck-title">
          <span class="label label-success pull-left">{{currentDeck.type}}</span>
          <span class="title-text">{{currentDeck.name}}</span>
          <span class="badge pull-right">{{currentDeck.cards.length}}</span>
        </h4>
      </div>
      <label for="current-deck-list" ng-show="currentDeck.cards.length">Cards in Deck:</label>
      <ul id="deck" class="list-group" name="current-deck-list" ng-show="currentDeck">
        <li ng-repeat="card in currentDeck.cards" class="list-group-item" ng-click="getCard(card._id)">{{card.name}}</li>
      </ul>
    </div>

    <div id="cardSearch" class="card-search col-md-6 col-sm-6">
      <form action="" class="form-horizontal">
        <label for="cardSearch">Search Cards</label>
        <input name="cardSearch" type="text" ng-model="searchName" placeholder="Search for cards" class="form-control" ng-model-options="{debounce: 400}" ng-change="cardSearch(searchName)" autocomplete="off">
      </form>
      <div id="results">
        <ul class="cards list-group" >
          <li ng-repeat="card in searchResults | filter:searchName"  
              class="list-group-item"
              ng-click="getCard(card._id)">{{card.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="cardImage" ng-show="currentCard" class="text-center">
    <img ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{currentCard.multiverseid}}&amp;type=card" alt="">
    <input type="button" class="btn btn-success addCard" ng-click="addCard(currentCard.multiverseid)" value="Add">
    <input type="button" class="btn btn-danger removeCard" ng-click="removeCard(currentCard.multiverseid)" value="Remove">
  </div>

</main>
</div><footer></footer>